*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80;)
    
}


h3 span{
    text-transform: uppercase;
   font-size: smaller;
}

.line{
    display: block;
    height: 2px;
    margin-right: 2rem;
    background-color: white;
}

h2, h3, h4{
    text-transform: uppercase;
}

.diamand{
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(45deg);
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
}

/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    margin: 2rem;
   
}
.header-title{
    display: flex;
    align-items: center;
   
}

.icon-header{
    width: 50px;
    height: 50px;
    background-color: rgb(178, 196, 216);
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
    padding: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
nav{
    display: flex;   
    justify-content: space-around;
   }

   .nav-header{
    text-decoration: none;
    background-color: rgb(178, 196, 216);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    
}

/*ABOUT*/
.about-section{ 
    margin: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    
}
.about-text{
    background-color: rgb(178, 196, 216);
    padding: 3rem;
    width: 60%;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    display: flex;
    flex-flow: wrap column;  
    flex-grow: 1;  
}
.about-img{
    flex-grow: 2;
    display: flex;
    justify-content: center;
}
img{
    height: 350px;
    width: 350px ;
    object-fit: cover;
    border-radius: 50%;
    margin: 2rem;  
}


/*BIO*/
.bio-section{
    background-color: rgb(178, 196, 216);
    margin: 3.5rem;
    padding: 10px 30px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-flow: column wrap;
   justify-content: space-around;
    
    
}

.bio-text{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;


}
.bio-text_item{
    height: 3rem;
    width: auto;
    gap: 7px;
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

/*Skills*/
.skills-section{
    background-color: rgb(178, 196, 216);
    margin: 3.5rem;
    padding: 10px 30px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-flow: column wrap;
   justify-content: space-around;
}
.skills-text{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-text_item{
    background-color: rgb(146, 172, 194);
    height: 3rem;
    width: auto;
    gap: 7px;
    padding: 4px;
    display: flex;
    align-items: center;
    border: white solid 2px;
    border-radius: 5px;
}

/*LIKE*/
.section-like{
    background-color: rgb(178, 196, 216);
    margin: 3.5rem;
    padding: 10px 30px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    height: auto;
    flex-flow: column wrap;
   justify-content: space-around;
}
.like-text{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
  
}


footer{
background-color: rgb(169, 169, 180);
margin: 3.5rem 3.5rem 0 3.5rem;
padding: 10px 30px;
color: white;
}
footer h3{
    color: rgb(212, 212, 223);;
    
}
.footer-list{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 60%;
}


.contact{
    display: flex;
    flex-flow: column wrap;
    line-height: 1.5;
}
.connect{
    display: flex;
    flex-flow: column wrap;
    line-height: 1.5;
}
.connect a{
    color: white;
}






