*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;;
}
h1{
    background-color: aqua;
    text-transform: capitalize;
}

img{
    border-radius: 50%;
    width: 50%;
    border: solid 2px gray;
}
.about{
    background-color: aliceblue;
    border: solid 2px rgb(158, 158, 215);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-header{
    text-decoration: none;
    background-color: rgb(61, 112, 156);
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}
.like{
    background-color: beige;
    color: brown;
}
nav{
 display: flex;   
 justify-content: space-around;
}